django==4.1.7
ipdb==0.13.13
flake8==6.0.0
django-environ==0.10.0
Pillow==9.4.0
faker==18.4.0
django-widget-tweaks==1.4.12
django-multi-form-view==2.0.1
celery[redis]==5.2.7
django-celery-results==2.5.0
django-extensions==3.2.1
django-celery-beat==2.5.0