{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{{ product.name }}{% endblock title %}
{% block content %}
    <div class="container text-center">
        <div class="row justify-content-evenly">
            <div class="col-12 col-lg-4 mt-5">
                <img class="figure-img me-auto" src="{{product.image.url}}" alt="Product image" width="100%" height="width">
                </ul>
            </div>
            <div class="col-12 col-lg-4 mt-5">
                <h3>{{ product.name.upper }}</h3>
                <p>{{ product.description }}</p>
                <div class="mt-auto align-items-end d-flex justify-content-end">
                    <span class="me-auto item-price d-flex justify-content-start">{{ product.price_in_uah }}₴</span>
                    <span class="control-code me-0 d-flex justify-content-end">{% translate 'Article' %}: {{ product.sku }}</span>
                </div>
                <div class="mt-2 align-items-end d-flex">
                    <form method="post" action="{% url 'add_to_cart' %}" class="me-auto">
                        {% csrf_token %}
                        <input type="hidden" name="product" value="{{ product.id }}">
                        <button type="submit" class="btn btn-orange me-auto">{% translate 'Add to cart' %}</button>
                    </form>
                    <a href="javascript:void(0)" class="favourite-link" data-url="{% url "add_to_favorite" product.id %}">
                        <i class="bi {% if product.is_favorite %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_scripts %}
        <script>
        $(document).ready(function () {
                $('.favourite-link').click(function () {
                    add_or_remove_favorite($(this))
                })
            })
        </script>
{% endblock extra_scripts %}