{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}{% translate 'Feedbacks' %}{% endblock title %}
{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-lg-6">
                <ul class="list-group">
                    <h3>{% translate 'Feedbacks' %}</h3>
                    {% for feedback in feedbacks %}
                        <ul class="list-group mb-2">
                            <li class="list-group-item">
                                <span class="float-start">{{ feedback.user }}</span>
                                <span class="float-end">
                                {% for i in "12345" %}
                                {% if forloop.counter <= feedback.rating %}
                                    <i class="fa-solid fa-star stars"></i>
                                {% else %}
                                    <i class="fa-regular fa-star stars"></i>
                                {% endif %}
                            {% endfor %}
                                </span>
                            </li>
                            <li class="text-break list-group-item text-start">
                                {{ feedback.text }}
                                <span class="date mt-3 float-end">{{ feedback.created_at }}</span>
                            </li>
                        </ul>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                {% if request.user.is_authenticated %}
                <h3>{% translate 'Leave your feedback' %}</h3>
                <form method="post" id="form-feedback">
                    {% csrf_token %}
                    {% include 'parts/form.html' with form=form %}
                    <button type="submit" class="btn btn-orange" form="form-feedback">{% translate 'Submit' %}</button>
                </form>
                {% else %}
                    <h3>{% translate 'Login to leave a feedback' %}</h3>
                    <a href={% url 'login' %}><button class="btn btn-orange me-3">{% translate 'Login' %}</button></a>
                    <a href={% url 'registration' %}><button class="btn btn-orange me-3">{% translate 'Sing Up' %}</button></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

