body {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
}

.shop-name {
    font-family: 'Russo One', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

.header-background {
    --bs-bg-opacity: 0;
    background-color: #f2e3db;
}

.daily {
    color: #e86a33;
}

.navbar-kanit {
    font-size: 1rem;
}

.btn-menu {
  color: black;
  background-color: #f2e3db;
  border-color: #f2e3db;
}

.btn-menu:hover {
  color: black;
  background-color: #edc6b1;
  border-color: #edc6b1;
  border-radius: 2rem;
}

.btn-menu:active {
  color: black;
  background-color: #edc6b1;
  border-color: #edc6b1;
  border-radius: 2rem;
}

.btn-menu:focus + .btn-menu, .btn-menu:focus {
  color: black;
  background-color: #edc6b1;
  border-color: transparent;
  border-radius: 2rem;
}

.btn-outline-search {
  color: white;
  background-color: #41644a;
  border-color: #41644a;
}

.btn-outline-search:hover {
  color: white;
  background-color: #263a29;
  border-color: #263a29;
}

.btn-orange {
  color: #41644a;
  border-color: #41644a;
}

.btn-orange:hover {
  color: white;
  background-color: #e86a33;
  border-color: #e86a33;
}

.item-price {
    font-size: 1.5rem;
}

/*feedbacks style*/

.stars {
    color: gold;
}

.date {
    font-size: 0.7rem;
}

/*categories*/

.category {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

/*products*/

.shoe-card {
    width: 100%;
    border-radius: 5px;
    border-color: transparent;
}
.card-own {
    width: 300px;
    margin: 0.2rem 0.8rem;
    border-style: solid;
    border-width: thin;
    border-color: transparent;
}

.card-own:hover {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px lightgrey;
    width: 300px;
    margin: 0.2rem 0.8rem;
}

.control-code {
    color: grey;
}

.card-body-new {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: lightgrey;
    margin: 0 0.3rem 0 0.3rem;
}

/*cart*/

.cart-img {
    height: 100px;
    width: 100px;
}

.quantity {
    width: 3rem;
}

.trash {
    width: 16px;
    height: 16px;
}

.discount {
    width: 7rem;
}

.without-discount {
    text-decoration: line-through;
    color: dimgray;
    font-size: 0.8rem;
}

.with-discount {
    color: red;
}

.btn-quantity {
    height: 100%;
    padding: 0.1rem;
}
